@page
@model AkilliKutuphane.Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-5">
        <section>
            <form method="post">
                <h2>Şifre sıfırlama bağlantısı iste</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-primary">Sıfırlama Bağlantısı Gönder</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
